<!DOCTYPE html>
<html>

<head>

    <title>Article</title>
    <%=stylesheet_link_tag "api_help", media: "all", "data-turbolinks-track"=> true %>
        <%=javascript_include_tag "api_help", "data-turbolinks-track"=> true %>
            <%=csrf_meta_tags %>
</head>

<body>
    <div id="content">
        <%=yield %>
    </div>
</body>

</html>