/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body, .ui-widget { margin: 0; font-size: 12px; line-height: 1.231; }
body p {font-size:12px;}

body, button, input, select, textarea, .ui-widget { 
font-family: 'Ubuntu Condensed', sans-serif;
font-family: 'Ubuntu', sans-serif;
color: #222; 
}

::-moz-selection { background: #B90000; color: #fff; text-shadow: none; }
::selection { background: #B90000; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; cursor:pointer;}
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: none; }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus { outline:none; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

   
/* =============================================================================
   GENERAL LAYOUT STYLES
   ========================================================================== */
body {
	background:transparent url(asset-path('bg.png'));
	color:#444;
    text-shadow: 0px 1px 0px #fff;
}
#container {
	min-width:960px;
	max-width:1250px;
	margin:0 auto;
}
header a#logo {
	display:block;
	height:95px;
	width:205px;
	float:left;
	margin-left:10px;
	background:transparent url(asset-path('bg.png')) -3px top no-repeat;
	margin-top:10px;
}
header #main-navigation {
    margin-top:20px;
	float:left;
}
header #main-navigation ul{
	margin:0;
	padding-left:5px;
	display:inline-block;
	vertical-align:bottom;
}
header #main-navigation ul li{
	float:left;
	list-style:none;	
	padding-right:10px;
	padding-bottom:1px;
}
header #main-navigation ul li a {
    display:block;
}
header #main-navigation ul li a.active, header #main-navigation ul li a:hover {
    display:block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; 
    background: #f4f4f4; /* Old browsers */
    background: -moz-linear-gradient(top, #f4f4f4 0%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f4f4f4 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f4f4f4 0%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f4f4f4 0%,#ededed 100%); /* IE10+ */
    background: linear-gradient(top, #f4f4f4 0%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
header #main-navigation ul li a span{
	display:inline-block;
	vertical-align:bottom;
	border:1px solid #e5e5e5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 
	padding:7px 20px;
	padding-top:41px;
	-webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.7); 
	-moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.7); 
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.7); 
	background-color:none;
	text-shadow: 0px 1px 0px #fff;
	color:#777;
	-webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
	-o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
	cursor:pointer;
	text-decoration:none;
}
header #main-navigation ul li span:hover, header #main-navigation ul li a.active span{
	border:1px solid #ddd;
	border-bottom:1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 
	-webkit-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.08);
	box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.08);
	color:#b90000;
}
header #main-navigation ul li span{
	background-repeat:no-repeat;
	background-position: center 7px; 
}
/* Main navigation buttons */
header #main-navigation ul li span.dashboard{
	background:transparent url('../img/icons/dashboard.png') center top no-repeat;
}
header #main-navigation ul li span.dashboard:hover{
	background:transparent url('../img/icons/dashboard_hover.png') center top no-repeat;
}
header #main-navigation ul li a.active span.dashboard{
	background:transparent url('../img/icons/dashboard_active.png') center top no-repeat;
}
header #main-navigation ul li span.users{
	background:transparent url('../img/icons/users.png') center top no-repeat;
}
header #main-navigation ul li span.users:hover{
	background:transparent url('../img/icons/users_hover.png') center top no-repeat;
}
header #main-navigation ul li a.active span.users{
	background-image:url('../img/icons/users_active.png');
}
header #main-navigation ul li span.charts{
	background:transparent url('../img/icons/charts.png') center top no-repeat;
}
header #main-navigation ul li span.charts:hover{
	background:transparent url('../img/icons/charts_hover.png') center top no-repeat;
}
header #main-navigation ul li a.active span.charts{
	background:transparent url('../img/icons/charts_active.png') center top no-repeat;
}
header #main-navigation ul li span.calendar{
	background:transparent url('../img/icons/32calendar.png') center top no-repeat;
}
header #main-navigation ul li span.calendar:hover{
	background:transparent url('../img/icons/32calendar_hover.png') center top no-repeat;
}
header #main-navigation ul li a.active span.calendar{
	background:transparent url('../img/icons/32calendar_active.png') center top no-repeat;
}
header #main-navigation ul li span.data{
	background:transparent url('../img/icons/32data.png') center top no-repeat;
}
header #main-navigation ul li span.data:hover{
	background:transparent url('../img/icons/32data_hover.png') center top no-repeat;
}
header #main-navigation ul li a.active span.data{
	background:transparent url('../img/icons/32data_active.png') center top no-repeat;
}
header #profile {
    -webkit-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.08);
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px; 
	float:right;
	margin-right:10px;    
	background-color:#F9F9F9;
	padding:0 20px 10px 20px;
    border:1px solid #ddd;
    border-top:0;
    border-bottom:1px solid #D3D3D3;
}
header #profile #user-data {
	height:40px;
	padding:10px 0 0 65px;
	background:transparent url('../img/icons/32/user.png') left 8px no-repeat;
	font-size:12px;
    /*border-left:1px solid #ddd;
    border-right:1px solid #ddd;*/
}
header #profile #user-notifications {
	margin-top:-1px;
}
header #profile #user-notifications ul {
	padding:0;
	margin:0;
}
header #profile #user-notifications ul li {
	list-style:none;
	float:left;
}
header #profile #user-notifications ul li a {
	display:block;
	width:16px;
	height:16px;
	padding:4px;
	border:1px solid #ccc;	
    border-left:0;
    border-bottom:1px solid #bbb;
	background-color:#F5F5F5;
	-webkit-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow:0 1px 0 #FFFFFF inset, 0 1px 2px rgba(0, 0, 0, 0.1);
	position:relative;
}
header #profile #user-notifications ul li a:hover {
    -webkit-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow:0 1px 0 #FFFFFF inset, 0 1px 2px rgba(0, 0, 0, 0.3);
}
header #profile #user-notifications ul li:first-child a {
    border-left:1px solid #ccc;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-radius: 2px 0px 0px 2px;
	border-radius: 2px 0px 0px 2px;
}
header #profile #user-notifications ul li:last-child a {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 0px 2px 2px 0px;
	border-radius: 0px 2px 2px 0px; 
}
header #profile #user-notifications ul li a span {
	display:block;
	padding:0px 4px 1px 4px;
	color:#fff;
	font-size:10px;
	font-weight:bold;
	position:absolute;
	top:-7px;
	right:-4px;
	background-color:#b90000;
	z-index:990;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%; 
	text-shadow:0 1px 0 #000;
}
header #profile #user-notifications ul li a {
	background-repeat:no-repeat;
	background-position:center center;
}
header #profile #user-notifications a#logout {
    background-repeat:no-repeat;
    background-position:5px center;
	padding:4px;
	padding-left:22px;
	padding-right:10px;
	text-align:center;
	color:#777;
	width:48px;
	text-decoration:none;
	font-weight:bold;
	height:16px;
}
header #profile #user-notifications a:hover#logout {
    -webkit-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.2);
	color:#444;
}
#sub-navigation {
	background-color:#f9f9f9;	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:10px 20px;
	border:1px solid #ddd;
	border-bottom:1px solid #D3D3D3;
	margin-left:10px;
	margin-right:10px;
	-webkit-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.1);
}
#sub-navigation #navigation-search {
	float:left;
	height:20px;
	width:212px;
}
#sub-navigation #navigation-search form input[type="text"] {
	background:#F5F5F5 url('../img/icons/16/search.png') 60px center no-repeat;
    padding:5px;
    height:15px;
	padding-left:12px;
	padding-right:20px;
	width:50px;
	color:#777;
	background-color:#F5F5F5;	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-decoration:none;
	color:#444;
	filter: dropshadow(color=#fff, offx=0, offy=1); 
	-webkit-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.1);
    border:1px solid #ddd;
    border-bottom:1px solid #d3d3d3;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	color:#777;
}
#sub-navigation #navigation-search form input[type="text"]:focus {
	background:#F5F5F5 url('../img/icons/16/search_hover.png') 160px center no-repeat;
	border:1px solid #2E7BB8;	
    -webkit-box-shadow:0 0 3px rgba(46, 123, 184, 1);
    -moz-box-shadow:0 0 3px rgba(46, 123, 184, 1);
	box-shadow:0 0 3px rgba(46, 123, 184, 1);
	width:150px;
	background-color:#fff;
	color:#999999;
}
#sub-navigation ul {
	float:left;
	margin:0;
	padding:0;
}
#sub-navigation ul li {
	float:left;
	list-style:none;
}
#sub-navigation ul li a {
	display:block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration:none;
	border:none;
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.7) inset, 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.7) inset, 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.7) inset, 0 1px 3px rgba(0, 0, 0, 0.1);
	float:left;
    padding:6px;
    height:15px;
	margin:0;
	background-color:#b90000;
	color:#fff;
	min-width:16px;
	text-align:center;
	text-shadow:0 1px 0 #000;
}
#sub-navigation ul li a:hover {
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.85) inset, 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.85) inset, 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.85) inset, 0 1px 3px rgba(0, 0, 0, 0.2);
	background-color:#b90000;
}
#sub-navigation ul li a.blue {
	background-color:#2e7bb8;
}
#sub-navigation ul li a.green {
	background-color:#498835;
}
#sub-navigation ul li span {
	display:block;
	float:left;
	padding:5px;
	padding-right:20px;
	padding-left:10px;
}
#sub-navigation a {
	padding:5px 10px;
    height:15px;
	margin-left:15px;
	padding-left:27px;
	display:block;
	float:right;
	background-color:#F5F5F5;	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-decoration:none;
	color:#444;
	filter: dropshadow(color=#fff, offx=0, offy=1); 
	-webkit-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.1);
    border:1px solid #ddd;
    border-bottom:1px solid #d3d3d3;
	background-position:8px center;
	background-repeat:no-repeat;
}
#sub-navigation a:hover { 
	background-color:#F9F9F9;
	-webkit-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.2);
}
#main-container {
	padding:20px 10px;
	padding-left:220px;
	position:relative;
}
#content-container {
	width:100%;
	float:left;
	position:relative;
}
#content {
	padding:20px;
    padding-bottom:0;
	background-color:#f9f9f9;	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration:none;
	color:#444;
	filter: dropshadow(color=#fff, offx=0, offy=1); 
	border:1px solid #ddd;
	border-bottom:1px solid #d3d3d3;
	-webkit-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.1);
	min-height:300px;
}
#left-menu {
	float:left;
	position:relative;
	width:222px;
	right:219px;
	margin-right:-100%;
	z-index:980;
}
#left-menu ul {
	padding-left:10px;
	margin:0;
}
#left-menu ul li {
	list-style:none;
}
#left-menu ul li a {
	display:block;
	padding:9px;
    padding-left:50px;
	list-style:none;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
	border-radius: 3px 0px 0px 3px; 
	background-color:none;
	border:1px solid transparent;
	margin-bottom:0px;color:#777;
	text-decoration:none;
	display:block;
	line-height:1.22em;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	background-position: 20px 8px;
	background-repeat:no-repeat;
}
#left-menu ul li a:hover {	
	border:1px solid transparent;
	color:#333;
	padding-left:65px;
}
#left-menu ul li.active a {
	background-color:#f9f9f9;
	border:1px solid #ddd;
	border-bottom:1px solid #D3D3D3;
	border-right:0;
    -webkit-box-shadow:0 1px 0 #FFFFFF inset, -2px 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:0 1px 0 #FFFFFF inset, -2px 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:0 1px 0 #FFFFFF inset, -2px 1px 2px rgba(0, 0, 0, 0.05);
	color:#b90000;
}
#left-menu ul li.active a:hover {
	text-decoration:none;
	color:#b90000;
}
footer {
    text-align:center;
    padding:15px 10px 30px 220px;
    color:#b90000;
}
/* elements */
.box-element .box-content ul.notifications {
	margin:0;
	padding:0;
}
.box-element .box-content ul.notifications li {
	width:20%;
	float:left;
	text-align:center;
	list-style:none;
}
.box-element .box-content ul.notifications li div {
	padding:15px;
	border:1px solid #E7E7E7;
	border-bottom:1px solid #D7D7D7;
	margin-left:10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    -webkit-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.1); 
    -moz-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.1);    
	box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.1);	
	background: #f4f4f4; /* Old browsers */
	background: -moz-linear-gradient(top, #f4f4f4 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4f4f4 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4f4f4 0%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4f4f4 0%,#ededed 100%); /* IE10+ */
	background: linear-gradient(top, #f4f4f4 0%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	font-size:20px;
    color:#b90000;
}

.box-element .box-content ul.notifications li:first-child div {
    margin-left:0;
}
.box-element .box-content ul.notifications li div:hover {
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #fafafa 0%, #f2f2f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%,#f2f2f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%,#f2f2f2 100%); /* IE10+ */
	background: linear-gradient(top, #fafafa 0%,#f2f2f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.25);
	box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.25);
}
.box-element .box-content ul.notifications li div span {
	display:block;
	clear:both;
	font-size:13px;
	padding:2px;
	color:#777;
}
.box-element .box-content ul.notifications li div span.green {
	color:#498835;
	font-size:14px;
}
.box-element .box-content ul.notifications li div span.red {
	color:#b90000;
	font-size:14px;
}
.box-element .box-content ul.notifications li div span.grey {
	font-size:14px;
}

.box-element .box-content ul.actions {
	margin:0;
	padding:0;
}
.box-element .box-content ul.actions li {
	width:12.5%;
	float:left;
	text-align:center;
	list-style:none;	
}
.box-element .box-content ul.actions li div {
	border:1px solid #ddd;
	border-bottom:1px solid #ccc;
	margin-left:10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.7) inset, 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.7) inset, 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.7) inset, 0 1px 3px rgba(0, 0, 0, 0.1);	
	background: #f4f4f4; /* Old browsers */
	background: -moz-linear-gradient(top, #f4f4f4 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4f4f4 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4f4f4 0%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4f4f4 0%,#ededed 100%); /* IE10+ */
	background: linear-gradient(top, #f4f4f4 0%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
.box-element .box-content ul.actions li:first-child div {
    margin-left:0;
}
.box-element .box-content ul.actions li div:hover {
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #fafafa 0%, #f2f2f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%,#f2f2f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%,#f2f2f2 100%); /* IE10+ */
	background: linear-gradient(top, #fafafa 0%,#f2f2f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.25);
	box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.25);
	color:#444;
}
.box-element .box-content ul.actions li a {
	display:block;
	padding:40px 5px 0px 5px;
    color:#b90000;
	text-decoration:none;	
	background-position:center 3px;
	background-repeat:no-repeat;
}
.box-element .box-content ul.actions li div:hover a {
	color:#b90000;
}
.box-element .box-content ul.actions li span {
	color:#999;
	font-size:10px;
	display:block;
	padding-bottom:10px;
}
/* tooltips */
.tooltip {
	display:none;
	background-color:#444;
	border:2px solid #999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:11px;
	padding:5px 10px;
	color:#fff;	
    -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
	z-index:999;
	text-shadow:0 1px 0 #000!important;
}
.modal-container {
	display:none;
}

/* sections */
fieldset section {
	display:block;
	padding:10px 20px;
	border-top:1px solid #fff;
	border-bottom:1px solid #eee;
	background-color:#fafafa;
}
fieldset section div.section-left-s {
    float:left;
    width:140px;
}
fieldset section div.section-left {
	float:left;
	width:180px;
}
fieldset section div.section-right {
	float:left;
	padding-left:20px;
	min-width:450px;
}
fieldset > section > label.error {
    color:#b90000;
}
fieldset section:hover {
	background-color:#f5f5f5;
	border-top:1px solid #fff;
	border-bottom:1px solid #e5e5e5;
}
fieldset > section > label {
	width:150px;
	float:left;
	padding:3px;
}
fieldset > section pre {
    margin:0;
    padding:0;
    word-wrap: normal;
}
fieldset section > div.section-input {
	float:left;
}
fieldset section > div.section-content {
	margin-left:170px;
}
fieldset section.fullw label {
	display:block;
	padding-bottom:10px;
}
fieldset section.fullw label, fieldset section.fullw div {
	float:none;
	clear:both;
}
fieldset section > div span {
	color:#999;
	padding-left:5px;
	font-size:11px;
}
fieldset section > div input[type="text"], fieldset section > div textarea {
	width:342px;
}
fieldset section:hover > div input[type="text"],  fieldset section:hover > div textarea{
	border:1px solid #eee;
	background-color:#fff;
}
#weditor {
	width:100%;
}

/* NOTIFICATIONS WIDGET */
.alert-msg {
	padding:10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #ccc;
    -webkit-box-shadow:0 0 3px #ccc;
    -moz-box-shadow:0 0 3px #ccc;
    box-shadow:0 0 3px #ccc;
	color:#555;
	font-size:13px;
	margin-bottom:20px;
	background-color:#eee;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.5)!important;
}
.alert-msg a {
	width:16px;
	height:16px;
	float:right;
	font-family:Arial,sans-serif;
	line-height:18px;
	color:#404040;
	font-size:20px;
	opacity:0.25;
    text-decoration:none;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.5)!important;
	font-weight:bold;
}
.alert-msg a:hover {
    opacity:0.4;
}
.alert-msg p {
    color:#555;
    text-shadow:none;
    font-size:12px;
}
.error-msg {
	border:1px solid #e06a6a;
	color:#a50000;
	background-color:#edd6d6;
    -webkit-box-shadow:0 0 2px #e06a6a;
    -moz-box-shadow:0 0 2px #e06a6a;
    box-shadow:0 0 2px #e06a6a;
}
.notice-msg {
	border:1px solid #ffb56d;
	color:#ff8d1e;
	background-color:#ffefe0;
    -webkit-box-shadow:0 0 2px #ffb56d;
    -moz-box-shadow:0 0 2px #ffb56d;
    box-shadow:0 0 2px #ffb56d;
}
.info-msg {
	border:1px solid #2E7BB8;
	color:#216ba6;
	background-color:#c3ddf2;
    -webkit-box-shadow:0 0 2px #2E7BB8;
    -moz-box-shadow:0 0 2px #2E7BB8;
	box-shadow:0 0 2px #2E7BB8;
}
.success-msg {
	border:1px solid #498835;
	color:#346724;
	background-color:#b5d8aa;
    -webkit-box-shadow:0 0 2px #498835;
    -moz-box-shadow:0 0 2px #498835;
    box-shadow:0 0 2px #498835;
}

/*  BREADCRUMBS WIDGET */
div.bredcrumbs, div.bredcrumbs-light {
	padding-bottom:20px;
}
div.bredcrumbs ul {
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 3px rgba(0, 0, 0, 0.4);
    border:1px solid #444;
    border-bottom:1px solid #222;
	margin:0;
	padding:0;
	overflow:auto;
    background-color:#F5F5F5;
    background:#444 url(asset-path('bg.png')) repeat-x;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
div.bredcrumbs ul:hover {
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 3px rgba(0, 0, 0, 0.6);
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 3px rgba(0, 0, 0, 0.6);
}
div.bredcrumbs ul li {
	padding:7px;
	padding-left:20px;
	padding-right:8px;
	float:left;
	list-style:none;
	background:transparent url("../img/breadcrumb.png") left center no-repeat;
}
div.bredcrumbs ul li:first-child {
	padding-left:42px;
	background:transparent url("../img/icons/16/home_white.png") 18px center no-repeat;
}
div.bredcrumbs ul li a {
    color:#eee;
    text-shadow:0 1px 0 #000;
	text-decoration:none;
	font-size:12px;
}
div.bredcrumbs ul li a:hover {
	text-decoration:underline;
    color:#fff;
}
/* light version */
div.bredcrumbs-light ul {
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 1px 3px rgba(0, 0, 0, 0.1);
    border:1px solid #ddd;
    border-bottom:1px solid #d3d3d3;
    margin:0;
    padding:0;
    overflow:auto;
    background-color:#F5F5F5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
div.bredcrumbs-light ul:hover {
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 1) inset, 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, 1) inset, 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow:0 1px 0 rgba(255, 255, 255, 1) inset, 0 1px 3px rgba(0, 0, 0, 0.2);
    background-color:#F9F9F9;
}
div.bredcrumbs-light ul li {
    padding:6px;
    padding-left:20px;
    padding-right:8px;
    float:left;
    list-style:none;
    background:transparent url("../img/breadcrumb.png") left center no-repeat;
}
div.bredcrumbs-light ul li:first-child {
    padding-left:42px;
    background:transparent url("../img/icons/16/home.png") 18px center no-repeat;
}
div.bredcrumbs-light ul li a {
    color:#444;
    text-decoration:none;
    font-size:12px;
}
div.bredcrumbs-light ul li a:hover {
    text-decoration:underline;
}
/* ORDERS WIDGET */
section.orders {
    font-size:13px;
}
section.orders h4 {
    color:#2E7BB8;
    font-size:14px;
    margin:0;
    padding-bottom:11px;
    border-bottom:1px dashed #ddd;
    margin-bottom:15px!important;
}
section.orders .data-container {
    padding-left:60px;
}
section.orders .data {
    padding:0 0 10px 0;
}
section.orders .data:last-child {
    padding:0!important;
}
section.orders span {
    float:right;
    font-size:13px;    
}
section.orders span.h {
    display:none;
}
section.orders span.h a {
	color:#444;
	text-decoration:none;
    background-position:5px center;
    background-repeat:no-repeat;
    padding:3px 8px 3px 25px;
    border:1px solid #ccc;
    border-top:1px solid #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; 
    background-color:#f9f9f9;
    -webkit-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.1);
}
section.orders span:hover.h a { 
    color:#222;
    background-color:#fbfbfb;
    -webkit-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.15);
}
section:hover.orders span.h {
    display:block;   
}
section.orders span a {
    color:#2E7BB8;
    text-decoration:none;
}
section.orders span.edit {
    color:#2E7BB8;
}
section.orders span.state {
    color:#498835;
}
section.orders span.contact {
    color:#B90000;
}
section.orders .orders-icon {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:4px solid #e5e5e5;
	width:38px;
	height:38px;
    background:#F4F4F4 url("../img/icons/32/shopping.png") 3px 3px no-repeat;
}
/* ERROR PAGES */
#error-page-container {
    width:700px;
    height:300px;
    margin:0 auto;
    padding-top:100px;
    text-align:center;
}
#error-page-container h1 {
    font-size:145px;
    margin-bottom:30px;
}
#error-page-container h3 {
    font-size:45px;
    margin-bottom:30px;
    color:#999;
}
#error-page-container hr {
    border-top:1px solid #ddd;
    border-bottom:1px solid #fff;
    height:0px;
}
#error-page-container span {
    color:#777;
}
#error-page-container a {
	padding-top:50px;
	display:block;
    color:#b90000;
    font-size:15px;
    text-decoration:none;
}

/* BUTTONS */
.icon16, .button, .icon16-button {
    margin:5px;
    padding:7px 15px;
    color:#777;
    background-color:#F5F5F5;   
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-decoration:none;
    color:#444;
    filter: dropshadow(color=#fff, offx=0, offy=1); 
    -webkit-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.1);
    border:1px solid #E7E7E7;
    border-bottom:1px solid #D7D7D7;
    color:#777;
}
.icon16:hover, .button:hover, .icon16-button:hover {
    color:#555;
    background-color:#F9F9F9;   
    -webkit-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.2);
}
.icon16 {
    background-position:8px 7px;
    background-repeat:no-repeat;
}
.icon16-button {
    background-position:8px center;
    background-repeat:no-repeat;
    padding-left:29px;
}
/* span width */
.span1 {
    width:40px;
}
.span2 {
    width:100px;
}
.span3 {
    width:160px;
}
.span4 {
    width:220px;
}
.span6 {
    width:340px;
}
.span8 {
    width:460px;
}
.span11 {
    width:640px;
}
.span16 {
    width:940px;
}
.one-third {
    width:300px;
}
.offset-one-third {
    margin-left:300px!important;
}
.two-thirds {
    width:620px;
}
.offset-two-thirds {
    margin-left:620px!important;
}

/* =============================================================================
   GENERIC ICON STYLES
   ========================================================================== */

/* 32x32 icons */
.users-32 {
	background-image:url('../img/icons/32/users.png');
}
.users-32:hover {
	background-image:url('../img/icons/32/users_hover.png');
}
.active .users-32 {
	background-image:url('../img/icons/32/users_active.png');
}
.dashboard-32 {
	background-image:url('../img/icons/32/dashboard.png');
}
.dashboard-32:hover {
	background-image:url('../img/icons/32/dashboard_hover.png');
}
.active .dashboard-32 {
	background-image:url('../img/icons/32/dashboard_active.png');
}
.data-32 {
	background-image:url('../img/icons/32/data.png');
}
.data-32:hover {
	background-image:url('../img/icons/32/data_hover.png');
}
.active .data-32 {
	background-image:url('../img/icons/32/data_active.png');
}
.calendar-32 {
	background-image:url('../img/icons/32/calendar.png');
}
.calendar-32:hover {
	background-image:url('../img/icons/32/calendar_hover.png');
}
.active .calendar-32 {
	background-image:url('../img/icons/32/calendar_active.png');
}
.charts-32 {
	background-image:url('../img/icons/32/charts.png');
}
.charts-32:hover {
	background-image:url('../img/icons/32/charts_hover.png');
}
.active .charts-32 {
	background-image:url('../img/icons/32/charts_active.png');
}
.edit-32 {
	background-image:url('../img/icons/32/edit.png');
}
.edit-32:hover {
	background-image:url('../img/icons/32/edit_hover.png');
}
.active .edit-32 {
	background-image:url('../img/icons/32/edit_active.png');
}
.finance-32 {
	background-image:url('../img/icons/32/finance.png');
}
.finance-32:hover {
	background-image:url('../img/icons/32/finance_hover.png');
}
.active .finance-32 {
	background-image:url('../img/icons/32/finance_active.png');
}
.settings-32 {
	background-image:url('../img/icons/32/settings.png');
}
.settings-32:hover {
	background-image:url('../img/icons/32/settings_hover.png');
}
.active .settings-32 {
	background-image:url('../img/icons/32/settings_active.png');
}
.forms-32 {
	background-image:url('../img/icons/32/forms.png');
}
.forms-32:hover {
	background-image:url('../img/icons/32/forms_hover.png');
}
.active .forms-32 {
	background-image:url('../img/icons/32/forms_active.png');
}
.file-32 {
	background-image:url('../img/icons/32/file.png');
}
.file-32:hover {
	background-image:url('../img/icons/32/file_hover.png');
}
.active .file-32 {
	background-image:url('../img/icons/32/file_active.png');
}
.files-32 {
    background-image:url('../img/icons/32/files.png');
}
.files-32:hover {
    background-image:url('../img/icons/32/files_hover.png');
}
.active .files-32 {
    background-image:url('../img/icons/32/files_active.png');
}
.alert-32 {
    background-image:url('../img/icons/32/alert.png');
}
.alert-32:hover {
    background-image:url('../img/icons/32/alert_hover.png');
}
.active .alert-32 {
    background-image:url('../img/icons/32/alert_active.png');
}
.email-32 {
    background-image:url('../img/icons/32/email.png');
}
.email-32:hover {
    background-image:url('../img/icons/32/email_hover.png');
}
.active .email-32 {
    background-image:url('../img/icons/32/email_active.png');
}
/* 16x16px icons */

.box-head > span.overview-16 {
    background-image:url('../img/icons/16/overview_white.png');
}
.overview-16 {
	background-image:url('../img/icons/16/overview.png');
}
.overview-16:hover {
	background-image:url('../img/icons/16/overview_hover.png');
}
.active .overview-16, .overview-16.selected {
	background-image:url('../img/icons/16/overview_active.png');
}


.box-head > span.elements-16 {
    background-image:url('../img/icons/16/elements_white.png');
}
.elements-16 {
	background-image:url('../img/icons/16/elements.png');
}
.elements-16:hover {
	background-image:url('../img/icons/16/elements_hover.png');
}
.active .elements-16, .elements-16.selected {
	background-image:url('../img/icons/16/elements_active.png');
}

.box-head > span.forms-16 {
    background-image:url('../img/icons/16/forms_white.png');
}
.forms-16 {
	background-image:url('../img/icons/16/forms.png');
}
.forms-16:hover {
	background-image:url('../img/icons/16/forms_hover.png');
}
.active .forms-16, .forms-16.selected {
	background-image:url('../img/icons/16/forms_active.png');
}


.box-head > span.widgets-16 {
    background-image:url('../img/icons/16/widgets_white.png');
}
.widgets-16 {
	background-image:url('../img/icons/16/widgets.png');
}
.widgets-16:hover {
	background-image:url('../img/icons/16/widgets_hover.png');
}
.active .widgets-16, .widgets-16.selected {
	background-image:url('../img/icons/16/widgets_active.png');
}


.box-head > span.notifications-16 {
    background-image:url('../img/icons/16/notifications_white.png');
}
.notifications-16 {
	background-image:url('../img/icons/16/bell.png');
}
.notifications-16:hover {
	background-image:url('../img/icons/16/bell_hover.png');
}
.active .notifications-16, .notifications-16.selected {
	background-image:url('../img/icons/16/bell_active.png');
}


.box-head > span.messages-16 {
    background-image:url('../img/icons/16/messages_white.png');
}
.messages-16 {
	background-image:url('../img/icons/16/messages.png');
}
.messages-16:hover {
	background-image:url('../img/icons/16/messages_hover.png');
}
.active .messages-16, .messages-16.selected {
	background-image:url('../img/icons/16/messages_active.png');
}


.box-head > span.settings-16 {
    background-image:url('../img/icons/16/settings_white.png');
}
.settings-16 {
	background-image:url('../img/icons/16/settings.png');
}
.settings-16:hover {
	background-image:url('../img/icons/16/settings_hover.png');
}
.active .settings-16, .settings-16.selected {
	background-image:url('../img/icons/16/settings_active.png');
}


.box-head > span.piecharts-16 {
    background-image:url('../img/icons/16/piecharts_white.png');
}
.piecharts-16 {
	background-image:url('../img/icons/16/piecharts.png');
}
.piecharts-16:hover {
	background-image:url('../img/icons/16/piecharts_hover.png');
}
.active .piecharts-16, .piecharts-16.selected {
	background-image:url('../img/icons/16/piecharts_active.png');
}


.box-head > span.typography-16 {
    background-image:url('../img/icons/16/typography_white.png');
}
.typography-16 {
	background-image:url('../img/icons/16/typography.png');
}
.typography-16:hover {
	background-image:url('../img/icons/16/typography_hover.png');
}
.active .typography-16, .typography-16.selected {
	background-image:url('../img/icons/16/typography_active.png');
}


.box-head > span.data-16 {
    background-image:url('../img/icons/16/data_white.png');
}
.data-16 {
	background-image:url('../img/icons/16/data.png');
}
.data-16:hover {
	background-image:url('../img/icons/16/data_hover.png');
}
.active .data-16, .data-16.selected {
	background-image:url('../img/icons/16/data_active.png');
}


.box-head > span.realtime-16 {
    background-image:url('../img/icons/16/realtime_white.png');
}
.realtime-16 {
	background-image:url('../img/icons/16/realtime.png');
}
.realtime-16:hover {
	background-image:url('../img/icons/16/realtime_hover.png');
}
.active .realtime-16, .realtime-16.selected {
	background-image:url('../img/icons/16/realtime_active.png');
}


.box-head > span.charts-16 {
    background-image:url('../img/icons/16/charts_white.png');
}
.charts-16 {
	background-image:url('../img/icons/16/charts.png');
}
.charts-16:hover {
	background-image:url('../img/icons/16/charts_hover.png');
}
.active .charts-16, .charts-16.selected {
	background-image:url('../img/icons/16/charts_active.png');
}


.box-head > span.file-16 {
    background-image:url('../img/icons/16/file_white.png');
}
.file-16 {
	background-image:url('../img/icons/16/file.png');
}
.file-16:hover {
	background-image:url('../img/icons/16/file_hover.png');
}
.active .file-16, .file-16.selected {
	background-image:url('../img/icons/16/file_active.png');
}


.box-head > span.calendar-16 {
    background-image:url('../img/icons/16/calendar_white.png');
}
.calendar-16 {
    background-image:url('../img/icons/16/calendar.png');
}
.calendar-16:hover {
    background-image:url('../img/icons/16/calendar_hover.png');
}
.active .calendar-16, .calendar-16.selected {
    background-image:url('../img/icons/16/calendar_active.png');
}


.box-head > span.typo-16 {
    background-image:url('../img/icons/16/typo_white.png');
}
.typo-16 {
    background-image:url('../img/icons/16/typo.png');
}
.typo-16:hover {
    background-image:url('../img/icons/16/typo_hover.png');
}
.active .typo-16, .typo-16.selected {
    background-image:url('../img/icons/16/typo_active.png');
}


.box-head > span.media-16 {
    background-image:url('../img/icons/16/media_white.png');
}
.media-16 {
    background-image:url('../img/icons/16/media.png');
}
.media-16:hover {
    background-image:url('../img/icons/16/media_hover.png');
}
.active .media-16, .media-16.selected {
    background-image:url('../img/icons/16/media_active.png');
}


.box-head > span.notifications-16 {
    background-image:url('../img/icons/16/notifications_white.png');
}
.notifications-16 {
    background-image:url('../img/icons/16/notifications.png');
}
.notifications-16:hover {
    background-image:url('../img/icons/16/notifications_hover.png');
}
.active .notifications-16, .notifications-16.selected {
    background-image:url('../img/icons/16/notifications_active.png');
}


.box-head > span.info-16 {
    background-image:url('../img/icons/16/info_white.png');
}
.info-16 {
    background-image:url('../img/icons/16/info.png');
}
.info-16:hover {
    background-image:url('../img/icons/16/info_hover.png');
}
.active .info-16, .info-16.selected {
    background-image:url('../img/icons/16/info_active.png');
}


.box-head > span.comment-16 {
    background-image:url('../img/icons/16/comment_white.png');
}
.comment-16 {
    background-image:url('../img/icons/16/comment.png');
}
.comment-16:hover {
    background-image:url('../img/icons/16/comment_hover.png');
}
.active .comment-16, .comment-16.selected {
    background-image:url('../img/icons/16/comment_active.png');
}


.box-head > span.email-16 {
    background-image:url('../img/icons/16/email_white.png');
}
.email-16 {
    background-image:url('../img/icons/16/email.png');
}
.email-16:hover {
    background-image:url('../img/icons/16/email_hover.png');
}
.active .email-16, .email-16.selected {
    background-image:url('../img/icons/16/email_active.png');
}


.box-head > span.edit-16 {
    background-image:url('../img/icons/16/edit_white.png');
}
.edit-16 {
    background-image:url('../img/icons/16/edit.png');
}
.edit-16:hover {
    background-image:url('../img/icons/16/edit_hover.png');
}
.active .edit-16, .edit-16.selected {
    background-image:url('../img/icons/16/edit_active.png');
}


.box-head > span.error-16 {
    background-image:url('../img/icons/16/error_white.png');
}
.error-16 {
    background-image:url('../img/icons/16/error.png');
}
.error-16:hover {
    background-image:url('../img/icons/16/error_hover.png');
}
.active .error-16, .error-16.selected {
    background-image:url('../img/icons/16/error_active.png');
}


.box-head > span.profile-16 {
    background-image:url('../img/icons/16/profile_white.png');
}
.profile-16 {
    background-image:url('../img/icons/16/profile.png');
}
.profile-16:hover {
    background-image:url('../img/icons/16/profile_hover.png');
}
.active .profile-16, .profile-16.selected {
    background-image:url('../img/icons/16/profile_active.png');
}


.box-head > span.logout-16 {
    background-image:url('../img/icons/16/logout_white.png');
}
.logout-16 {
    background-image:url('../img/icons/16/logout.png');
}
.logout-16:hover {
    background-image:url('../img/icons/16/logout_hover.png');
}
.active .logout-16, .logout-16.selected {
    background-image:url('../img/icons/16/logout_active.png');
}

.box-head > span.shopping-16 {
    background-image:url('../img/icons/16/shopping_white.png');
}
.shooping-16 {
    background-image:url('../img/icons/16/shopping.png');
}
.shopping-16:hover {
    background-image:url('../img/icons/16/shopping_hover.png');
}
.active .shopping-16, .shopping-16.selected {
    background-image:url('../img/icons/16/shopping_active.png');
}

.box-head > span.book-16 {
    background-image:url('../img/icons/16/book_white.png');
}
.book-16 {
    background-image:url('../img/icons/16/book.png');
}
.book-16:hover {
    background-image:url('../img/icons/16/book_hover.png');
}
.active .book-16, .book-16.selected {
    background-image:url('../img/icons/16/book_active.png');
}

/* =============================================================================
   LABELS
   ========================================================================== */
span.label {
    background-color:#999999;
    border-radius:3px 3px 3px 3px;
    color:#FFFFFF!important;
    padding:1px 5px 2px;
    text-shadow:none;
}
span.label-success {
    background-color:#498835;
}
span.label-warning {
    background-color:#F89406;
}
span.label-important {
    background-color:#B90000;
}
span.label-info {
    background-color:#2E7BB8;
}


/* =============================================================================
   LOGIN FORM STYLES
   ========================================================================== */
#login-container {
    width:400px;
    margin:200px auto 0 auto;
}
#login-container #login {
    width:400px;
}
#login-container #login .login-title {
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px; 
    border-bottom:1px solid #E7E7E7;
    background-color:#f3f3f3;
    padding:15px 20px;
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.8) inset;
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.8) inset;
    
}
#login-container #login h1 {
    background: url(../img/icons/16/user_active.png) 0 2px no-repeat;
    font-weight:normal;
    margin:0;
    padding-left:30px;
    font-size:16px;
    color:#B90000;
}
#login-container #login fieldset section {
    padding:15px 20px;
    overflow:auto;
}
#login-container #login input[type="text"], #login-container #login input[type="password"]{
    width:340px;
}
#login-container > #login input[type="text"].error, 
#login-container > #login input[type="password"].error, 
#login-container > #login input[type="text"].error:focus, 
#login-container > #login input[type="password"].error:focus{
    border:1px solid #b90000;
    -webkit-box-shadow:0 0 3px rgba(185, 0, 0, 1);
    -moz-box-shadow:0 0 3px rgba(185, 0, 0, 1);
    box-shadow:0 0 3px rgba(185, 0, 0, 1);
}
#login-container > #login a {
    float:right;
    display:block;
    margin:20px;
    color:#b90000;
}
#login-container span {
    padding-top:20px;
    display:block;
    text-align:center;
    color:#999;
    font-size:12px;
    color:#b90000;
}
/* =============================================================================
   COMMON INFINITY STYLES
   ========================================================================== */
.i-box {
    border:1px solid #E7E7E7;
    border-bottom:1px solid #D7D7D7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; 
    background-color:#F9F9F9;
    -webkit-box-shadow:0 1px 1px #FFFFFF inset, 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 1px #FFFFFF inset, 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 1px #FFFFFF inset, 0 1px 2px rgba(0, 0, 0, 0.1);
}
.i-button {
    margin:20px;
    padding:7px 15px;
    color:#777;
    background-color:#F5F5F5;   
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-decoration:none;
    color:#444;
    filter: dropshadow(color=#fff, offx=0, offy=1); 
    -webkit-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.1);
    border:1px solid #E7E7E7;
    border-bottom:1px solid #D7D7D7;
    color:#777;    
}
.i-button:hover {
    color:#555;
    background-color:#F9F9F9;   
    -webkit-box-shadow:0 1px 0 #FFFFFF inset, 0px 0px 1px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:0 1px 0 #FFFFFF inset, 0px 0px 1px rgba(50, 50, 50, 0.2);
    box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.2);	
}
.i-text {
    border:1px solid #eee;
    background-color:#fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding:7px;
    padding-left:10px;
    width:340px;
    color:#777;
    -webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.04) inset;
    -moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.04) inset;
    box-shadow:0 0 2px rgba(0, 0, 0, 0.04) inset;
    -webkit-transition: all 1s ;
    -moz-transition: all 1s ;
    -o-transition: all 1s ;
    transition: all 1s ;
}
.i-text:focus {
    border:1px solid #2E7BB8!important;
    -webkit-box-shadow:0 0 3px rgba(46, 123, 184, 1)!important; 
    -moz-box-shadow:0 0 3px rgba(46, 123, 184, 1)!important;    
    box-shadow:0 0 3px rgba(46, 123, 184, 1)!important;	
}
.i-label {
    width:80px;
    float:left;
    padding-top:7px;
    padding-left:20px;
}
.i-divider {
    margin:20px 0;
    height:0;
    border-bottom:1px solid #fff;
    border-top:1px solid #E5E5E5;
    clear:both;
}
.i-transform.i-span label {
    float:left;
    display:block;
    margin-right:8px;
    margin-top:7px;
}
.i-transform select {
    width:330px;
}
.i-validate label.error {
    color:#b90000;
    padding-left:10px;
}
table.i-table {
}
table.i-table thead td, table.i-table tfoot td, table.i-table thead tr:hover td, table.i-table tfoot tr:hover td  {
    background-color:#F4F4F4!important;
}
table.i-table thead td  {
    border-bottom:1px solid #E3E3E3;
    font-weight:bold;
}
table.i-table tfoot td  {
    border-top:1px solid #E3E3E3;
}
table.i-table.fullwidth {
    width:100%;
}
table.i-table.border {
    border:1px solid #eee;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
table.i-table td {
    padding:7px;
    padding-left:20px;
}
table.i-table tr:hover td {
    background-color:#ebf5f8!important;
}
table.i-table tr.light td {
    background-color:#fff;
}
table.i-table tr.dark td {
    background-color:#F9F9F9;
}
.box-holder-one-half {
    width:50%;
    float:left;
}
.box-holder-one-half .box-element, .box-holder-one-half .box-buttons {
    margin-left:20px;
    margin-top:0;
}
.box-holder-one-half .first {
    margin-left:0!important;
}
.box-holder-one-half .last {
    margin-right:0!important;
}
.box-element {
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom:20px;
}
.box-element:hover {
    -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
}
.box-element .box-head {
    background:#444 url(asset-path'bg_box.png') repeat-x;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px; 
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset;
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset;
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset;
    padding:8px;    
    padding-left:20px;
    border:1px solid #444;
    border-bottom:1px solid #ccc;
    border-top:1px solid #444;
    color:#eee;
    text-shadow: 0px 1px 0px #000;
    position:relative;
    overflow:auto;
}
.box-element .box-head h3, .box-element .box-head-light h3 {
    display:block;
    font-weight:normal;
    float:left;
    font-size:13px;
    margin:0;
}
.box-element .box-head span, .box-element .box-head-light span {
	display:block;
	float:left;
	width:25px;
	height:17px;
    line-height:17px;
    background-position:left center;
    background-repeat:no-repeat;
}
.box-element .box-head a {
    display:none;
    width:21px;
    height:21px;
    background:transparent url('../img/colapse_dark.png') no-repeat;
    position:absolute;
    top:7px;
    right:7px;
}
.box-element .box-head a.open {
    background:transparent url('../img/colapse_dark.png') no-repeat;
}
.box-element .box-head a.closed {
    background:transparent url('../img/expand_dark.png') no-repeat;
}
.box-element .box-content {
    border:1px solid #E0E0E0;
    border-top:0;
    border-bottom:1px solid #d3d3d3;
    padding:20px;
    background-color:#fafafa;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px; 
}
.box-content p, .box-content b {font-size:13px;}
.box-element:hover .box-head {
    color:#fff;
    background-color:#555;
    border-top:1px solid #444;
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset;
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset;
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset;
}
.box-element:hover .box-head a, .box-element:hover .box-head-light a {
    display:block;
}
.box-element .grey-bg {
    background-color:#f9f9f9;	
}
/* light version */
.box-element .box-head-light, .ui-accordion a.ui-accordion-header {
    margin:0;
    background-color:#F4F4F4;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px; 
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.8) inset;
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.8) inset;
    border:1px solid #ddd;
    border-bottom:1px solid #ccc;
    padding:8px;
    padding-left:20px;
    color:#777;
    font-size:13px;
    position:relative;
    overflow:auto;
}
.box-element .box-head-icon {
    background-position:19px center;
    background-repeat:no-repeat;
    padding-left:42px;
}
.box-element .box-head-light a {
    display:none;
    width:19px;
    height:22px;
    background:transparent url('../img/colapse_light2.png') no-repeat;
    position:absolute;
    top:7px;
    right:7px;
}
.box-element .box-head-light a.open {
    background:transparent url('../img/colapse_light2.png') no-repeat;
}
.box-element .box-head-light a.closed {
    background:transparent url('../img/expand_light2.png') no-repeat;
}
.box-element:hover .box-head-light, .ui-accordion:hover a.ui-accordion-header {
    color:#444;
    background-color:#F7F7F7;
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 1) inset;
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, 1) inset;
    box-shadow:0 1px 0 rgba(255, 255, 255, 1) inset;
}
.box-element .box-content p {
	margin:0;
	margin-bottom:20px;
}
.box-element .box-content p:last-child {
    margin:0;
}
.box-element .box-content .alert-msg p {
    margin:0;
    margin-top:10px;
}
.box-element .box-content h3, .box-element .box-content h4 {
    margin:0;
    margin-bottom:20px;
}

.box-element .box-content .box-bottom {
    background-color:#F3F3F3;
    border-top:1px solid #E7E7E7;
    padding:10px 20px;    
}

/* =============================================================================
   BOX BUTTONS / TABS
   ========================================================================== */
.box-buttons {
    margin-bottom:20px;
    -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.box-buttons:hover {
    -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
}
.box-buttons ul.tab-list { 
    margin:0;
    overflow:auto;  
    background-color:#F5F5F5;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px; 
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.4) inset;
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.4) inset;
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.4) inset;
    border:1px solid #ddd;   
    border-bottom:1px solid #ccc;
    padding:7px 20px;
}
.box-buttons:hover ul.tab-list{
    background-color:#F9F9F9;
}
.box-buttons ul.tab-list li { 
    list-style:none; 
    float:left;
    padding-right:10px;
}
.box-buttons ul.tab-list li a {
    display:block;
    height:16px;
    padding:4px 10px;   
    position:relative;
    color:#999;
    text-decoration:none;
    padding-left:30px;
    background-repeat: no-repeat;
    background-position: 8px center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; 
}
.box-buttons ul.tab-list li a:hover {
    color:#444;
} 
.box-buttons ul.tab-list a.selected {
    margin-bottom:0;
    background-color:#efefef;
    -webkit-box-shadow:0 1px 0 #ddd inset, 0 1px 0px rgba(255, 255, 255, 0.8);
    -moz-box-shadow:0 1px 0 #ddd inset, 0 1px 0px rgba(255, 255, 255, 0.8);
    box-shadow:0 1px 0 #ddd inset, 0 1px 0px rgba(255, 255, 255, 0.8);
    color:#b90000;
}
.box-buttons div.tab-content {
    border:1px solid #E0E0E0;
    border-top:1px solid #eee;
    border-bottom:1px solid #d3d3d3;
    background-color:#fafafa;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px; 
    padding:20px;
}
.box-buttons div a { color:#000; font-weight:bold; }

/* =============================================================================
   GALLERY
   ========================================================================== */
.gallery {
    padding:5px;
}
.thumbnail {
	margin:5px;
    padding:3px;
    border:3px solid #fff;
    float:left;
    width:104px;
    height:104px;
    -webkit-transition: all 1s ;
	-moz-transition: all 1s ;
	-o-transition: all 1s ;
	transition: all 1s ;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px; 
	position:relative;
}
.thumbnail img {    
    width:104px;
    height:104px;
}
.thumbnail:hover {
    border:3px solid #404649;
}
.thumbnail a.actions {
    display:none;
    position:absolute;
    top:25px;
    left:31px;
    width:50px;
    height:25px;
    line-height:25px;
    text-align:center;
    text-decoration:none;
    border:2px solid #222;
    background-color:#404649;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#fff;
    -webkit-transition: all 1s ;
    -moz-transition: all 1s ;
    -o-transition: all 1s ;
    transition: all 1s ;
    text-shadow:0 1px 0 #000;    
}
.thumbnail:hover a.actions {
    display:block;
}
.thumbnail a.actions.view {
	background:#404649 url('../img/icons/16/search_white.png') center center no-repeat;
}
.thumbnail a.actions.delete {
    background:#404649 url('../img/icons/16/delete_white.png') center center no-repeat;
    top:57px;
}

/* =============================================================================
   PAGINATOR
   ========================================================================== */
.paginate {
    float:right;
}
.paginate a {
	display:block;
	float:left;
    border: 1px solid #E7E7E7;
    border-bottom:1px solid #D7D7D7;
    -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px; 
    padding: 2px 5px;
    margin: 0 3px;
    cursor: pointer;
    *cursor: hand;
    color:#444444;
    background-color: #F5F5F5;
    box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.075);
}
.paginate a:hover {
	box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.15);
    background-color: #F9F9F9;
}
.paginate a.active {
    background-color: #B90000;
    color:#fff;
    text-shadow: 0px 1px 0px #000;
    border:0;
    padding: 3px 6px 3px 6px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; 
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset, 0 1px 3px rgba(0, 0, 0, 0.3);    
}

/* common */
.no-padding {
	padding:0!important;
}
.top-padding {
    padding:20px 0 0 0!important;
}
.no-side-padding {
    padding:20px 0!important;
}
.no-margin {
    margin:0!important;
}
.slider-input {
	background:none!important;
	border:0!important;
    -webkit-box-shadow:none!important;
    -moz-box-shadow:none!important;
	box-shadow:none!important;
	color:#b90000!important;
}
#eq span {
	height:120px; float:left; margin:15px; padding:0;
}
.left {
    float:left;
}
.right {
    float:right;
}

/* =============================================================================
   JS LIB STYLES OVERIDES
   ========================================================================== */
   
/* chzn overides */
.chzn-container-single .chzn-single {
    background:url("jqimg/select_left.png") no-repeat scroll left top transparent;
    border:0;
    height:31px;
    line-height:32px;
}
.chzn-container-single .chzn-single span {
    margin-right:31px;
}
.chzn-container-single .chzn-single div b {
    background:none;
}
.chzn-container-single .chzn-single div {
    background:url("jqimg/select_right.png") no-repeat scroll center center transparent;
    width:31px;
    height:31px;
    border:0;
}
.chzn-container-active .chzn-single-with-drop {
	webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
.chzn-container .chzn-drop {
    border:0;
}
select.i-select {
    width:360px;
}
.chzn-container-multi .chzn-choices {
    border:1px solid #eee;
    background-color:#fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding:7px;
    padding-left:10px;
    width:340px;
    color:#777;
    -webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.04) inset;
    -moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.04) inset;
    box-shadow:0 0 2px rgba(0, 0, 0, 0.04) inset;
    -webkit-transition: all 1s ;
    -moz-transition: all 1s ;
    -o-transition: all 1s ;
    transition: all 1s ;
}
.chzn-container-multi .chzn-choices {
    background-image:none;
    padding:2px 10px 2px 7px;;
}
.chzn-container-multi .chzn-choices .search-field .default {
    color:#777777;
    font-size:11px;
}
.chzn-container-multi .chzn-choices .search-choice {
    border:1px solid #ddd;
}
/* jq transform overides */
.jqTransformSelectWrapper div span {
    font-size:11px;
    padding-left:13px;
}
/* jQuery UI overides */
.ui-accordion a.ui-accordion-header {
    background:none;
}
.box-element a.ui-accordion-header {
    display:block;  
}
.ui-accordion .ui-accordion-content {
    margin:0;
    padding:20px;
    border:1px solid #E0E0E0;
    border-top:1px solid #eee;
    border-bottom:1px solid #ddd;
    top:0;
}
.ui-accordion .ui-accordion-content p {
    margin:0;
    margin-bottom:10px;
}
.ui-accordion .ui-accordion-content p:last-child {
    margin:0;
}
.ui-accordion .ui-accordion-header .ui-icon {
    left:3px;
}
.ui-slider .ui-slider-handle {
    width:10px;
    height:10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.ui-slider-horizontal .ui-slider-handle {
    top:-3px;
}
.ui-slider-vertical .ui-slider-handle {
    left:-3px;
}
.ui-slider {
    margin:10px 0;
}
.ui-slider.ui-widget-content {
    border:1px solid #c8c8c8;
}
.ui-slider-horizontal, .ui-slider-horizontal .ui-slider-range {
    height:6px;
}
.ui-slider-vertical, .ui-slider-vertical .ui-slider-range {
    width:6px;
}
.ui-slider-horizontal .ui-slider-range, .ui-slider-vertical .ui-slider-range {
    background-color:#C73333;
}
.ui-widget-content {
    border:0;
}
.ui-widget-header {
    background:none;
    background-color:#FAFAFA;
}
.ui-datepicker .ui-widget-header {
    border:1px solid #ddd;
}
.ui-widget .ui-state-default {
    background:none;
    background-color:#F4F4F4;
}
.ui-widget .ui-state-hover {
    background:none;
    background-color:#F4F4F4;
}
.ui-widget .ui-state-highlight {
    border:1px solid #b90000;
    background-color:#E8CBCB;
}
.ui-widget-content {
    border:1px solid #eee;
    background:#fafafa;
}
.ui-autocomplete {
    z-index:20000!important;
    border:1px solid #ddd!important;
}
#ui-active-menuitem {
    border:1px solid #ddd!important;
    background-color:#f9f9f9;
}
.legend {
    background:transparent;
}
.elfinder-cwd {
    font-size:0.9em;
}
/* themer styles */
#styler {
    position:absolute;
    top:250px;
    left:0;
}
#styler .container-light, #styler .container-responsive {
	display:none; 
}
#styler .dark {
    width:24px;
    height:120px;
    background-color:#ff0000;
    cursor:pointer;
    background:url("../img/theme-dark.png") no-repeat;
    border-top:2px solid #222;
    border-right:2px solid #222;
    border-bottom:2px solid #222;
    background-color:#404649;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
    margin-bottom:10px;
}
#styler .light {
    width:24px;
    height:120px;
    background-color:#ffff00;
    cursor:pointer;
    background:url("../img/theme-light.png") no-repeat;
    border-top:2px solid #222;
    border-right:2px solid #222;
    border-bottom:2px solid #222;
    background-color:#404649;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
    margin-bottom:10px;
}
#styler .liquid {
    width:24px;
    height:120px;
    background-color:#ff0000;
    cursor:pointer;
    background:url("../img/theme-liquid.png") no-repeat;
    border-top:2px solid #222;
    border-right:2px solid #222;
    border-bottom:2px solid #222;
    background-color:#404649;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
    margin-bottom:10px;
}
#styler .responsive {
    width:24px;
    height:120px;
    background-color:#ffff00;
    cursor:pointer;
    background:url("../img/theme-responsive.png") no-repeat;
    border-top:2px solid #222;
    border-right:2px solid #222;
    border-bottom:2px solid #222;
    background-color:#404649;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
    margin-bottom:10px;
}
#styler .bg-changer, #styler .versions {
    width:24px;
    border-top:2px solid #222;
    border-right:2px solid #222;
    border-bottom:2px solid #222;
    background-color:#404649;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px; 
    margin-bottom:10px;
}
#styler .bg-changer a {
    width:15px;
    height:15px;
    margin:3px auto;
	display:block;
	background-color:#fff;
	border:1px solid #000;
	cursor:pointer;
}
#styler .versions a {
    width:15px;
    height:15px;
    line-height:15px;
    text-align:center;
    margin:3px auto;
    display:block;
    background-color:#fff;
    border:1px solid #000;
    cursor:pointer;
    color:#000;
    font-size:10px;
}
#styler .bg-changer a.bg {
    background:url(asset-path('bg.png')) no-repeat;
}
#styler .bg-changer a.bg_2 {
    background:url("../img/bg_2.png") no-repeat;
}
#styler .bg-changer a.bg_3 {
    background:url("../img/bg_3.png") no-repeat;
}
#styler .bg-changer a.bg_4 {
    background:url("../img/bg_3.png") no-repeat;
}
#styler .bg-changer a.bg_5 {
    background:url("../img/bg_3.png") no-repeat;
}

#styler .bg-changer a.bg_dark {
    background:url("../img/bg_dark.png") no-repeat;
}
#styler .bg-changer a.bg_dark_2 {
    background:url("../img/bg_dark_2.png") no-repeat;
}
#styler .bg-changer a.bg_dark_3 {
    background:url("../img/bg_dark_3.png") no-repeat;
}
#styler .bg-changer a.bg_dark_4 {
    background:url("../img/bg_dark_3.png") no-repeat;
}
/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* defining grid view style  */
.grid-view-loading
{
	background:url(loading.gif) no-repeat;
}

.grid-view
{
	padding: 15px 0;
}

.grid-view table.items
{
	background: white;
	border-collapse: collapse;
	width: 100%;
	border: 1px #D0E3EF solid;
}

.grid-view table.items th, .grid-view table.items td
{
	font-size: 1.0em;
	border: 1px white solid;
	padding: 0.5em;
}
.grid-view table.items th a{
    color: black !important;
}
.grid-view table.items td a {
    color: #0066EE !important;
}
.grid-view table.items th
{
	color: white;
        background: #F4F4F4 !important;
	text-align: center;
}

.grid-view table.items tr td
{
	text-align: center;
}

.grid-view table.items th a
{
	color: #EEE;
	font-weight: bold;
	text-decoration: none;
}

.grid-view table.items th a.asc
{
	background:url(up.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items th a.desc
{
	background:url(down.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items tr.even
{
	background: whitesmoke !important;
}

.grid-view table.items tr.odd
{
	background: whitesmoke !important;
}

.grid-view table.items tr.selected
{
	background: #BCE774;
}

.grid-view table.items tbody tr:hover
{
	background-color: #EBF5F8!important;
}

.grid-view table.items thead tr:hover
{
	background: none;
}

.grid-view .link-column img
{
	border: 0;
}

.grid-view .button-column
{
	text-align: center;
	width: 60px;
}

.grid-view .button-column img
{
	border: 0;
}

.grid-view .checkbox-column
{
	width: 15px;
}

.grid-view .summary
{
	margin: 0 0 5px 0;
	text-align: right;
}

.grid-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

.grid-view .empty
{
	font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
	width: 100%;
	border: 1px solid #ccc;
}

#project-members-grid {
    padding: 0px !important;
}

#developer-projects-grid {
    padding: 0px !important;
}

#project-members-grid a{
    color: #0066EE;
}

#project-members-grid  table.items tr th
{
	color: white;
        background: #F4F4F4 !important;
	text-align: left !important;
        padding-left: 20px;
        border-bottom: 1px solid #E3E3E3;
        background-color: #F4F4F4!important;
}

#project-members-grid  table.items tr td
{
	text-align: left !important;
        padding-left: 20px;
}
#developer-projects-grid  table.items tr th
{
	color: white;
        background: #F4F4F4 !important;
	text-align: left !important;
        padding-left: 20px;
        border-bottom: 1px solid #E3E3E3;
        background-color: #F4F4F4!important;
}

#developer-projects-grid  table.items tr td
{
	text-align: left !important;
        padding-left: 20px;
}


/* ==|== print styles =======================================================
   Print styles.
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}