<span class="left_panel">
  <div class="table">
    <%= render partial: 'api_help/index', locals: {index_arr: ApiIndexRenderer.user_api_index } %>
  </div>  
</span>

<%= render partial: 'api', locals: {
    link_name: 'Sign Up', 
    link_href: 'signup',
    link_method: 'POST',
    original_link: api_sign_up_path,
    parameters: [
     {name: 'user[email]', description: 'ID of User', required: 1 },           
     {name: 'user[password]', description: 'Email Address of User', required: 1 },          
    ],
    options: {}} %> 
<%= render partial: 'api', locals: {
    link_name: 'Login', 
    link_href: 'login',
    link_method: 'POST',
    original_link: api_login_path,
    parameters: [
      {name: 'email', description: 'Email Address of User', required: 1 },
      {name: 'password', description: 'Password', required: 1},
      {name: 'device_token[device_token]', description: 'Device token', required: 1},
    ],
    options: {}} %>

<%= render partial: 'api', locals: {
    link_name: 'Logout', 
    link_href: 'logout',
    link_method: 'DELETE',
    original_link: api_logout_path,
    parameters: [
      {name: 'auth_token', description: 'You will get authentication token from login api', required: 1 },
      {name: 'device_token[device_token]', description: 'Device token', required: 1},
        
    ],
    options: {}} %>

<%= render partial: 'api', locals: {
    link_name: 'Create', 
    link_href: 'create',
    link_method: 'POST',
    original_link: api_article_tasks_path,
    parameters: [
      {name: 'auth_token', description: 'You will get authentication token from login api', required: 1 },
      {name: 'article_task[name]', description: 'Name of Article', required: 1},
      {name: 'article_task[title]', description: 'Title of Article', required: 1},
      {name: 'article_task[url]', description: 'URL of Article', required: 1}
    ],
    options: {}} %>  

<%= render partial: 'api', locals: {
    link_name: 'Update', 
    link_href: 'update',
    link_method: 'POST',
    original_link: api_update_article_path,
    parameters: [
      {name: 'auth_token', description: 'You will get authentication token from login api', required: 1 },
      {name: 'article_task[id]', description: 'ID of Article', required: 1},
      {name: 'article_task[name]', description: 'Name of Article', required: 1},
      {name: 'article_task[title]', description: 'Title of Article', required: 1},
      {name: 'article_task[url]', description: 'URL of Article', required: 1}
    ],
    options: {}} %>

<%= render partial: 'api', locals: {
    link_name: 'Show', 
    link_href: 'show',
    link_method: 'GET',
    original_link: api_show_article_path,
    parameters: [
      {name: 'auth_token', description: 'You will get authentication token from login api', required: 1 },
      {name: 'article_task[id]', description: 'ID of Article', required: 1}
    ],
    options: {}} %>     

<%= render partial: 'api', locals: {
    link_name: 'Index', 
    link_href: 'index',
    link_method: 'GET',
    original_link: api_article_tasks_path,
    parameters: [
      {name: 'auth_token', description: 'You will get authentication token from login api', required: 1 }
    ],
    options: {}} %>  

<%= render partial: 'api', locals: {
    link_name: 'Destroy', 
    link_href: 'destroy',
    link_method: 'DELETE',
    original_link: api_destroy_article_path,
    parameters: [
      {name: 'auth_token', description: 'You will get authentication token from login api', required: 1 },
      {name: 'article_task[id]', description: 'ID of Article', required: 1}
    ],
    options: {}} %>                        
